/*
============================================================================
mustard #dcd2b0
============================================================================
*/

body {
  background: #f6f6f3;
}

#header {
  border-top: 7px solid #dcd2b0;
}

.page blockquote, .format-standard blockquote {
  border-left: 3px solid #dcd2b0;
  font-size: 1.24em;
  color: #9a9a9a;
}

.format-standard.entry blockquote p {
  line-height: 1.3em;
  font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
  color: #857747;
  font-weight: normal;
}

/* Text links */
a {
  text-decoration:none;
  color: #9a9a9a;
}

a:focus,a:active,a:hover {
  text-decoration: none;
  color: #dcd2b0;
}

p a:hover {
  text-decoration: underline;
}

/* Nav */
#navigation > li > ul {
  border-top: 4px solid #857747;
}

#navigation > li > ul li a:hover {
  background: #f7f5ed;
}

#footer {
  border-bottom: 7px solid #dcd2b0;
}


#commentform button[type=submit], .gform_wrapper input[type=submit],
#contactform button[type=submit]{
  border: 1px solid #857747; /* inner stroke */
  background-color: #dcd2b0; /* layer fill content */
}