
<!DOCTYPE html>
<html>
<head>
    <title>Event Extraction | Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="body-class">
    <div class="body-content"></div>
    <div class="container header">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="logo">
                        <div class="img-wrap">
                            <p>EVENT EXTRACTION</p><span>SERVICES</span>
                            <!-- <img src="images/Assets/logo.png"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="register-form">
                        <div class="row">
                            <div class="text-center reg-form">
                                <h2>Event Extraction Services</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="content">
                                <p>Extract the critical events of your interest from all the video sources and feeds.Notify your users as and when critical events that matters to them happens in real time.</p>
                                <p>No play back of videos and post-mortem on events that had already occured.Know the moment the events happen and take the corrective actions,Proactively</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 ">
                                <div class="col-md-12">
                                    <div class="social-buttons">
                                        <a onclick="window.location.href='/Home/Dashboard';" class="btn btn-fb btn-round">
                                            See it in action&emsp;&emsp;&emsp;<i class="fa fa-angle-right" style="font-size:28px;vertical-align: middle;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>