/*
============================================================================
default color scheme (light blue) #5f91ab
============================================================================
*/

body {
  background: #f6f6f3;
}

#header {
  /*border-top: 7px solid #c4d9e4;*/
}

.page blockquote, .format-standard blockquote {
  border-left: 3px solid #c4d9e4;
  font-size: 1.24em;
  color: #9a9a9a;
}

.format-standard.entry blockquote p {
  line-height: 1.3em;
  font-family: Lato, serif;;
}

h1, h2, h3, h4, h5, h6 {
  color: #5f91ab;
  font-weight: normal;
}

/* Text links */
a {
  text-decoration:none;
  color: #5f91ab;
}

a:focus,a:active,a:hover {
  text-decoration: none;
  color: #81b1ca;
}

p a:hover {
  text-decoration: underline;
}

/* Nav */
#navigation > li > ul {
  border-top: 4px solid #C4D9E4;
}

#navigation > li > ul li a:hover {
  background: #e8eef1;
}

#footer {
  border-bottom: 7px solid #c4d9e4;
}

#commentform button[type=submit], .gform_wrapper input[type=submit],
#contactform button[type=submit]{
  border: 1px solid #77aac5; /* inner stroke */
  background-color: #83b6d1; /* layer fill content */
  background-image: -moz-linear-gradient(90deg,  rgba(107,163,194,1) 0%, rgba(153,197,218,1) 100%); /* gradient overlay */
  background-image: -o-linear-gradient(90deg, rgba(107,163,194,1) 0%, rgba(153,197,218,1) 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(90deg, rgba(107,163,194,1) 0%, rgba(153,197,218,1) 100%); /* gradient overlay */
  background-image: linear-gradient(90deg, rgba(107,163,194,1) 0%, rgba(153,197,218,1) 100%); /* gradient overlay */

}