<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Cognitive Services Corridor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/assets/style.css" type="text/css">
    <link rel="stylesheet" href="~/assets/colors/default.css" type="text/css">
    <link rel="stylesheet" href="~/assets/js/fancybox/source/jquery.fancybox.css" type="text/css">
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/assets/js/modernizr.js" type="text/javascript">

    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .instruction {
            font-size: 23px;
            font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif !important;
            text-align: center;
            /*background: black;*/
            color: black;
            padding: 13px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        #warn_msg {
            font-size: 12px;
            text-align: left;
            color: red;
        }

        #image_url_msg {
            font-size: 12px;
            text-align: left;
            color: red;
        }
    </style>
</head>

<body>
    <header id="header">

        <div id="site-head">
            <div class="wrap group">
                <div class="logo">
                    <h1><a href="index.html"><img src="~/assets/images/microsoft.png" alt="JSN_logo" style="width: 77%;padding-left: 35px;margin-top: -47px;"></a></h1>
                </div>
                <div class="center_content">
                    <h2 style="text-align: center;color: #0477d3;margin-bottom: 10px;font-size: 44px;text-transform:uppercase;font-weight:600;font-family:" open="" sans",="" sans-serif;"="">Partner Tech Series</h2>
                </div>
            </div>
        </div><!-- .wrap < #header -->

    </header>
    <br>
    <div class="container">

        <p class="instruction" id="main_instruction">
            Area of Interest
        </p>
    </div>
    <section class="container" style="margin-bottom: 5%;" id="local_sec">
        <br><br>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="row col-md-12 col-sm-12">
                    <div class="col-md-8 col-sm-8">
                        <br>
                        <input type="text" name="image_url" id="image_url" class="image_url form-control" placeholder="Image URL">
                        <br>
                        <p id="warn_msg">Kindly upload (PNG,JPEG) formatted images</p>
                        <p id="image_url_msg">Please enter the valid URL</p>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <br>
                        <button class="btn btn-primary mb-4 shadow-2" style="background: #00abec;border-color: #00abec;" id="image_submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading..">Submit</button>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <br>
                        <input type="file" name="open_image_file" id="open_image_file" class="open_image_file" style="display: none;">
                        <button class="btn btn-primary mb-4 shadow-2" style="background: white; color: black;border-color: black;" id="open_image_trigger" onclick="imageopen()"><i class="fa fa-cloud" aria-hidden="true">&nbsp;&nbsp;Browse</i></button>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12" style="height: 400px;">
                    @*<img src="~/UI_assets/images/empty.jpg" alt="empty_image" id="local_img" class="img-responsive" style="width: 100%;height: -webkit-fill-available;">*@
                    <center>
                        <canvas class="rounded-circle" id="myCanvas" style="height: -webkit-fill-available;"></canvas>
                    </center>
                </div>
            </div>

        </div>

    </section>

    <footer id="footer" style="position: inherit;">
        <div class="wrap group">
            <div class="footer-text">
                <a href="#"></a> © 2019 All rights reserved
            </div>
        </div>
    </footer>
    <!--  </div> --><!-- #page -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.ias.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $('#warn_msg').hide();
        $('#image_url_msg').hide();

        $(document).ready(function () {
            canvas = document.getElementById("myCanvas");
            cntx = canvas.getContext('2d');
            var imageObj = new Image();
            imageObj.onload = function () {
                cntx.drawImage(imageObj, 0, 0, 300, 150);
            };
            imageObj.src = '/assets/images/empty.jpg';
        });

        function imageopen() {
            $('#open_image_file').trigger('click');
            $('#image_url').val("");
            canvas = document.getElementById("myCanvas");
            cntx = canvas.getContext('2d');
            var imageObj = new Image();
            imageObj.onload = function () {
                cntx.drawImage(imageObj, 0, 0, 300, 150);
            };
            imageObj.src = '/assets/images/empty.jpg';
        }

        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            var ImageBase64 = null
            //canvas = document.getElementById("myCanvas");
            cntx = canvas.getContext('2d');
            cntx.clearRect(0, 0, canvas.width, canvas.height);
            
            var imageObj = new Image();
            var img_src_64 = e.target.result;
            var p = 0
            imageObj.onload = function () {
                var height = this.naturalHeight;
                var width = this.naturalWidth;
                //var cwidth = localcanvas.width;
                var cheight = canvas.height;
                p = cheight / height;
                var w = width * p;
                var h = height * p;
                cntx.drawImage(imageObj, 0, 0, w, h);
            };
            imageObj.src = img_src_64;

            var img_64_array = img_src_64.split(',');
            var img_extension = img_64_array[0];

            if (img_extension == "data:image/png;base64" || img_extension == "data:image/PNG;base64" || img_extension == "data:image/jpeg;base64" || img_extension == "data:image/JPEG;base64" || img_extension == "data:image/jpg;base64" || img_extension == "data:image/JPG;base64") {
                $('#warn_msg').hide();
                $('#image_url_msg').hide();
                ImageBase64 = img_src_64.replace(img_extension + ",", "");
            }

            else {
                $('#image_url_msg').hide();
                $('#warn_msg').show();
            }

            if ($('#warn_msg').is(":hidden")) {

                var JsonImage = JSON.stringify({ data: ImageBase64, flag: false });

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    datatype: "json",
                    data: JsonImage,
                    url: "/Home/AreaofInterest",
                    success: function (data) {
                        console.log(data)
                        if (data.Error == "") {

                            var Left = data.Left * p;
                            var Top = data.Top * p;
                            var Width = data.Width * p;
                            var Height = data.Height * p;
                            
                            cntx.beginPath();
                            cntx.lineWidth = "2";
                            cntx.strokeStyle = "blue";
                            cntx.rect(Left, Top, Width, Height);
                            cntx.stroke();
                        }
                        else {
                            alert(data.Error);

                            $('#local_output').html("Result: " + data.Error);
                            //$('#open_image_trigger').button('reset');
                        }
                    }
                });
            }
            else {
                $('#image_url_msg').hide();
            }
        };

        $('#image_submit').click(function () {
            //$('#image_submit').button('loading');
            canvas = document.getElementById("myCanvas");
            cntx = canvas.getContext('2d');
            var imageObj = new Image();
            imageObj.onload = function () {
                cntx.drawImage(imageObj, 0, 0, 300, 150);
            };
            imageObj.src = '/assets/images/empty.jpg';
            var image_url = $('#image_url').val();
            if (image_url == "") {
                $('#image_url_msg').show();
                $('#warn_msg').hide();
                //$('#image_submit').button('reset');
            }
            else {
                $('#image_url_msg').hide();
                $('#myCanvas').attr('src', image_url);

                //canvas = document.getElementById("myCanvas");
                cntx = canvas.getContext('2d');
                cntx.clearRect(0, 0, canvas.width, canvas.height);
                //var img = new Image();
                var imageObj = new Image();
                var p = 0
                imageObj.onload = function () {
                    var height = this.naturalHeight;
                    var width = this.naturalWidth;
                    //var cwidth = localcanvas.width;
                    var cheight = canvas.height;
                    p = cheight / height;
                    var w = width * p;
                    var h = height * p;
                    cntx.drawImage(imageObj, 0, 0, w, h);
                };
                imageObj.src = image_url;

                var JsonImage = JSON.stringify({ data: image_url, flag: true });
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    datatype: "json",
                    data: JsonImage,
                    url: "/Home/AreaofInterest",
                    success: function (data) {
                        console.log(data)

                        if (data.Error == "") {

                            var Left = data.Left * p;
                            var Top = data.Top * p;
                            var Width = data.Width * p;
                            var Height = data.Height * p;

                            cntx.beginPath();
                            cntx.lineWidth = "2";
                            cntx.strokeStyle = "blue";
                            cntx.rect(Left, Top, Width, Height);
                            cntx.stroke();
                            //$('#image_submit').button('reset');
                        }
                        else {
                            alert(data.Error);

                            $('#local_output').html("Result: " + data.Error);
                            //$('#image_submit').button('reset');
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
